[submodule "audio_extractor_stt"]
	path = audio_extractor_stt
	url = https://github.com/geondongkim/Minute-Second-Audio-Extractor-STT.git
	branch = main
[submodule "lecture-slide-notes"]
	path = lecture-slide-notes
	url = https://github.com/geondongkim/Minute-Second-Lecture-Slide-Notes.git
	branch = main
[submodule "script-saver"]
	path = script-saver
	url = https://github.com/geondongkim/Minute-Second-Script-Saver.git
	branch = main
